div {
    margin-bottom: 10%;
}

h1 {
    font-size: 2.5em;
    font-family: "Crimson Text", serif;
    margin-bottom: 5px;
}

h3 { 
    font-family: Epilogue;
    font-size: 1.5em;
    color: rgb(73, 18, 182);
    /* margin-bottom: 10px; */
}

h4 {
    font-family: "Crimson Text";
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: -5px;
}

p {
    font-family: Epilogue;
    font-weight: 200;
    font-size: 13px;
    font-style: italic;
    text-indent: 5%;
    margin-bottom: -5px;
    
}

